<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Купить {{carname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class" #content>
  <ion-grid fixed>
    <ng-container *ngIf="carssforvendor !== undefined">
      <ion-row>
        <ion-col
          size="12"
          size-md="8"
          size-xl="8"
          class="col-bg col-border-left"
        >
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{carname}}</ion-card-title>
            </ion-card-header>
            <img
              alt="{{carname}}"
              src="{{carssforvendor.picture}}"
              fallback="/assets/img/placeholder.svg"
            />
            <ion-card-content>
              <p class="ion-text-nowrap">Цвет: {{carssforvendor.param}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col
          size="12"
          size-md="4"
          size-xl="4"
          class="col-bg col-border-right"
        >
          <p>{{carssforvendor.description}}</p>
          <ion-button
            color="dark"
            expand="block"
            fill="solid"
            disabled="true"
            size="large"
            >Цена: {{carssforvendor.price |
            currency:'RUB':'symbol-narrow':'4.0-0':'ru-RU'}}</ion-button
          >
          <ion-button
            (click)="openDealer(carssforvendor.url)"
            color="success"
            expand="block"
            fill="solid"
            size="large"
          >
            Связаться с дилером</ion-button
          >
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <ion-row class="ion-text-center">
    <ion-col color="primary" size="12" size-md="12" size-xl="12">
      <ion-note
        >Не является офертой. Информация предоставлена исключительно в
        справочных целях.</ion-note
      ><br />
    </ion-col>
  </ion-row>
</ion-content>
