ion-button{
    padding:6px 0 6px 0;
    font-weight: 700;
    font-size: medium;
}
.col-border-left{
    border-radius: 6px 0 0 6px;
}

.col-border-right{
    border-radius: 0 6px 6px 0;
}
.row-bg{
    border-radius: 10px 0px 0px 0px;
}
.slides-wrapper{
    height: calc(100vh - 70px);
}

ion-slide {
    height: calc(100vh - 70px);
    //width: 100%!important;
    flex-direction: column;
    text-align: justify;
}

.swiper-wrapper {
  width: min-content !important;
}

ion-img {
    max-width: 50vw;
    max-height: 30vh;
    overflow: hidden;
}

p {
   padding: 1em;
   //width: 90%!important;
}

.step-one {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.step-two {
    background: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary-contrast);
}

.step-three {
    background: #57014b;
    color: var(--ion-color-primary-contrast);
}
.padding-sides-16{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}