<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{brand_model}} в наличии</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
  <ion-grid fixed>

    <ion-row>

      <ion-col class="col-bg col-border">
        <h5 class="ion-text-center">Реальные цены на {{brand_model}}</h5>

        <ng-container *ngIf="carssforvendor !== undefined">
          <!--           <ion-row>
            <ion-col size="12" size-md="12" size-xl="12">
              <a href="/">
                <ion-icon name="home-sharp"></ion-icon>
              </a>
              <ion-icon name="chevron-forward-sharp"></ion-icon><a href="/brand/{{vendor}}">{{vendor}}</a>
              <ion-icon name="chevron-forward-sharp"></ion-icon>{{brand_model}}
            </ion-col>

          </ion-row> -->
          <ion-row>
            <ion-col size="12" size-md="6" size-xl="4" *ngFor="let car of carssforvendor">
              <ion-card (click)="openCar(car.objectId)">
                <ion-card-header>
                  <ion-card-subtitle>{{car.brand_model}}</ion-card-subtitle>
                </ion-card-header>
                <div class="img-wrapper"><img alt="{{car.name}}" src="{{car.picture}}"
                    fallback="/assets/img/placeholder.svg">
                </div>
                <ion-card-content>
                  <h5 class="ion-text-nowrap">Цвет: {{car.param}}</h5>
                  <h6>{{car.name}}</h6>
                  <h3 color="secondary">Цена: {{car.price | currency:'RUB':'symbol-narrow':'4.0-0':'ru-RU'}}</h3>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="hasmore">
            <ion-col>
              <ion-button (click)="loadMore()" expand="block" fill="outline">Загрузить еще
              </ion-button>
            </ion-col>
          </ion-row>

        </ng-container>

      </ion-col>

    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col color="primary" size="12" size-md="12" size-xl="12">
        <ion-note>Не является офертой. Информация предоставлена исключительно в справочных целях.</ion-note><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>