#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  //top: 50%;
  //transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#center-headline {
  justify-content: center;
}

.sc-ion-searchbar-ios-h {
  max-width: 640px;
}

ion-card{
        height: 250px;
        img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              margin: 0 auto;
        }
        ion-card-header{
          padding: 6px 6px 0 6px;
        }
        ion-card-content{
          padding: 6px 6px 6px 6px;
        }
        .img-wrapper {
          height:50%;
          display: flex;
        }
        ion-card-content{
          h6{
            padding: 6px 0 6px 0;
          }
          h5{
            overflow: hidden;
            text-overflow: ellipsis;
          }
          h3{
            font-weight: 600;
            text-align: end;
          }
          position: absolute;
          bottom: 0;
          width: 100%;
        }
    }

