<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Авто Маркет
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-class">

  <ion-grid fixed>
    <ion-row>
      <ion-col class="col-bg col-border">

        <ion-row id="center-headline">
          <ion-col>
            <!-- <div class="ion-text-center"><img src="/assets/img/car-logo.png" class="img-logo"
                alt="Цены на новые автомобили в автосалонах"></div> -->
            <h3 class="ion-text-center">Новые автомобили в наличии у официальных дилеров.</h3>
            <h6 class="ion-text-center">Выберите автомобиль своей мечты и получите бонусы!</h6>
          </ion-col>
        </ion-row>

        <ion-row id="center-headline">
          <ion-col>
            <ion-item *ngIf="carscount !== undefined">
              <!-- <ion-label>Фильтровать:</ion-label> -->
              <ion-select class="ion-text-center" [interfaceOptions]="customActionSheetOptions" interface="action-sheet"
                placeholder="Выберите производителя авто" (ionChange)="OnChange($event)">
                <ion-select-option *ngFor="let vendor of vendors" [value]="vendor.vendor">
                  {{vendor.vendor}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row id="center-headline" *ngIf="carscount !== undefined">
          <ion-note>{{ carscount }} автомобилей в наличии на {{ updateddate }}</ion-note>
        </ion-row>

        <ion-grid *ngIf="vendors !== undefined">
          <ion-row class="ion-align-items-center">
            <ion-col size="6" size-md="4" size-xl="3" *ngFor="let vendor of vendors">
              <h6>
                <a href="#" [routerLink]="['/brand/', vendor.vendor]">{{vendor.vendor}}</a>
                <span>
                  <ion-note>&nbsp;({{ vendor.count }})</ion-note>
                </span>
              </h6>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- </div> -->

      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col color="primary" size="12" size-md="12" size-xl="12">
        <ion-note>Не является офертой. Информация предоставлена исключительно в справочных целях.</ion-note><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>