#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  //top: 50%;
  //transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#center-headline {
  justify-content: center;
}

.sc-ion-searchbar-ios-h {
  max-width: 640px;
}
.img-logo{
  height: 25vh;
}

ion-select
{
  max-width: 95%;
}

